WHISPER_MODEL_SIZE=tiny.en
WHISPER_DEVICE=auto
WHISPER_COMPUTE_TYPE=int8
WHISPER_CPU_THREADS=4
WHISPER_NUM_WORKERS=1
WHISPER_VAD_FILTER=1
WHISPER_VAD_MIN_SILENCE_MS=400
TRANSLATION_MODEL_NAME=facebook/m2m100_418M
TRANSLATION_DEVICE=auto
TRANSLATION_MAX_LENGTH=192
TRANSLATION_NUM_BEAMS=1
SUMMARY_MODEL_NAME=sshleifer/distilbart-cnn-12-6
SUMMARY_DEVICE=auto
SUMMARY_ABSTRACTIVE_MIN_WORDS=90
SUMMARY_MAX_INPUT_WORDS=180
LIVE_SUMMARY_MODE=fast
ENABLE_BACKGROUND_WARMUP=1
MIN_TRANSCRIPT_CHARS=3
